.desktop-section-uiux {
  width: 100%;
  height: var(--height-section-uiux);
  padding-top: var(--padding-top-uiux);
  padding-bottom: var(--padding-bottom-uiux);
}

.desktop-section-uiux .desktop-section-uiux-inner {
  width: var(--width-uiux-inner);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap-uiux-inner);
}

.desktop-section-uiux .desktop-section-uiux-small-title-box {
  width: var(--width-small-title-box);
  padding-top: var(--padding-vertical-small-title-box);
  padding-bottom: var(--padding-vertical-small-title-box);
  background: var(--color-black);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small-title-box);
}

.desktop-section-uiux .desktop-section-uiux-small-main-title {
  margin: 0;
  width: var(--width-uiux-title);
  font-family: var(--font-family-pp-editorial-new);
  font-size: var(--font-small-main-title);
  line-height: 127px;
  font-weight: 400;
  color: var(--color-white);
  text-align: center;
}

.desktop-section-uiux .desktop-section-uiux-small-sub-box {
  width: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small-sub-box);
}

.desktop-section-uiux .desktop-section-uiux-small-sub-title {
  margin: 0;
  font-family: var(--font-family-pp-editorial-new);
  font-size: var(--font-small-sub-tilte);
  line-height: 38.4px;
  font-weight: 400;
  color: var(--color-white);
}

.desktop-section-uiux .desktop-section-uiux-small-sub-text {
  margin: 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-small-sub-text);
  line-height: 19.8px;
  letter-spacing: -0.54px;
  color: var(--color-white);
  text-align: center;
}

.desktop-section-uiux .desktop-section-uiux-box {
  width: var(--width-uiux-box);
  display: grid;
  grid-template-columns: repeat(2, var(--width-uiux-list-box));
  gap: var(--gap-uiux-box);
  justify-content: space-between;
}

.desktop-section-uiux .desktop-section-uiux-list-box {
  width: var(--width-uiux-list-box);
  height: 481.52px;
  background: var(--color-white);
  border: 1px solid #0c0c0c;
  border-radius: 40px;
  padding-top: var(--padding-vertical-list-box);
  display: flex;
  flex-direction: column;
  gap: var(--gap-uiux-list-box);
}

.desktop-section-uiux .desktop-section-uiux-heart-box {
  width: 100%;
  padding-right: var(--padding-right-heart-box);
  display: flex;
  justify-content: flex-end;
}

.desktop-section-uiux .desktop-section-uiux-heart-box img {
  width: 24px;
  height: 24px;
}

.desktop-section-uiux .desktop-section-uiux-image {
  width: 100%;
  height: 363px;
  object-fit: cover;
}

.desktop-section-uiux .desktop-section-uiux-name-box {
  width: 100%;
  padding: 0 var(--padding-horizontal-uiux-name-box);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-section-uiux .desktop-section-uiux-img-name {
  margin: 0;
  font-family: var(--font-family-pp-editorial-new);
  font-size: var(--font-uiux-img-name);
  line-height: 26.4px;
  letter-spacing: -0.72px;
  color: var(--color-black);
}

.desktop-section-uiux .desktop-section-uiux-date {
  margin: 0;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-uiux-date);
  line-height: 17.6px;
  letter-spacing: -0.48px;
  color: var(--color-black);
}
